.s40 {
    font-size: 40px;
}

.language-markup {
    border-bottom: 100px;
}

.icon-title {
    margin: 0px;
}

.current {
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}