<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Awesome buttons</h1>
    <!--<p>Use this when...</p>-->
    <!--<section layout="row" layout-sm="column" layout-align="left">-->
    <!--<md-button>{{title1}}</md-button>-->
    <!--</section>-->

    <!--<xmp>-->
    <!--<section layout="row" layout-sm="column" layout-align="left">-->
    <!--<md-button>{{title1}}</md-button>-->
    <!--</section>-->
    <!--</xmp>-->
    <!--<br/>-->

    <p>Use this when...</p>
    <section layout="row" layout-sm="column" layout-align="left">
        <md-button class="md-raised">Button</md-button>
    </section>

    <div style="width: 500px;">
        <pre><code ng-prism="" class="language-markup">&lt;md-button class="md-raised">Button&lt;/md-button>&lt;/i></code></pre>
    </div>

    <br>
    <p>Use this when...</p>
    <section layout="row" layout-sm="column" layout-align="left">
        <md-button class="md-fab md-hue-1">
            <i class="mdi mdi-tooltip-outline"></i>
            <md-tooltip>
                Tooltip
            </md-tooltip>
        </md-button>
    </section>

    <div style="width: 500px;">
        <pre><code ng-prism="" class="language-markup">&lt;md-button class="md-fab md-hue-1">
            &lt;i class="mdi mdi-tooltip-outline">&lt;/i>
            &lt;md-tooltip>
            Tooltip
            &lt;/md-tooltip>
            &lt;/md-button>&lt;/i></code></pre>
    </div>

    <!--<h2>Floating buttons</h2>-->
</div>
<!--<p>Use this when...</p>-->
<!--<section layout="row" layout-sm="column" layout-align="left">-->
<!--<md-button class="md-primary md-hue-5">Button</md-button>-->
<!--</section>-->

<!--<xmp>-->
<!--<section layout="row" layout-sm="column" layout-align="left">-->
<!--<md-button class="md-primary md-hue-5">Button</md-button>-->
<!--</section>-->
<!--</xmp>-->
<!--</md-content>-->