<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Awesome buttons</h1>

    <p>Always use raised buttons</p>
    <h4>Raised button</h4>
    <p>Use this button for activeties. Payment, save, delete...</p>
    <section layout="row" layout-sm="column" layout-align="left">
        <md-button class="md-raised">Button</md-button>
    </section>

    <div style="width: 500px;">
        <pre><code ng-prism="" class="language-markup">&lt;md-button class="md-raised">Button&lt;/md-button>&lt;/i></code></pre>
    </div>

    <br>
    <h4>Colored button with icon and tooltip</h4>
    <p>Use this button in toolbars. Use the tooltip so the claimhandler will have no doubt.</p>
    <section layout="row" layout-sm="column" layout-align="left">
        <md-button class="md-fab md-hue-3">
            <i class="mdi mdi-tooltip-outline"></i>
            <md-tooltip>
                Tooltip
            </md-tooltip>
        </md-button>
    </section>

    <div style="width: 500px;">
        <pre><code ng-prism="" class="language-markup">&lt;md-button class="md-fab md-hue-3">
            &lt;i class="mdi mdi-tooltip-outline">&lt;/i>
            &lt;md-tooltip>
            Tooltip
            &lt;/md-tooltip>
            &lt;/md-button>&lt;/i></code></pre>
    </div>

</div>
