<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Cards</h1>

    <p>We use cards, because it's more easy to use than whiteframes.</p>
    <p>It can be used for groupings of information that needs more separation than what whiteframes or dividers can provide.</p>
    <div ng-controller="AppCtrl" layout layout-sm="column">
        <md-content class="md-padding cards">
            <md-card>
                <md-card-content>
                    <h2 class="md-title">Cards</h2>
                    <p>
                        We use cards, because it's more easy to use than whiteframes.
                    </p>
                </md-card-content>
            </md-card>
        </md-content>

        <md-content class="md-padding cards">
            <md-card>
                <md-card-content>
                    <h2 class="md-title">Cards</h2>
                    <p>
                        We use cards, because it's more easy to use than whiteframes.
                    </p>
                </md-card-content>
            </md-card>
        </md-content>
    </div>

    <div ng-controller="AppCtrl" layout layout-sm="column">
        <md-content class="md-padding cards">
            <md-card>
                <md-card-content>
                    <h2 class="md-title">Cards</h2>
                    <p>
                        We use cards, because it's more easy to use than whiteframes.
                    </p>
                </md-card-content>
            </md-card>
        </md-content>

        <md-content class="md-padding">
            <md-card>
                <md-card-content>
                    <h2 class="md-title">Cards</h2>
                    <p>
                        We use cards, because it's more easy to use than whiteframes.
                    </p>
                </md-card-content>
            </md-card>
        </md-content>
    </div>

    <div>
        <pre><code ng-prism class="language-markup">&lt;div ng-controller="AppCtrl">
&lt;md-content class="md-padding">
     &lt;md-card>
          &lt;md-card-content>
          &lt;h2 class="md-title">Cards&lt;/h2>
          &lt;p>We use cards, because it's more
          easy to use than whiteframes.&lt;/p>
     &lt;/md-card-content>
&lt;/md-content></code></pre>
    </div>

    <h2>Headings in cards:</h2>

    <md-content class="md-padding">
        <md-card>
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Heading</span>
                </h2>
            </md-toolbar>
            <md-card-content>
                <p>
                    Don't use h1 and headings in the cards. Use only headings.
                </p>
            </md-card-content>
        </md-card>
    </md-content>

    <md-content class="md-padding">
        <md-card>
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Heading</span>
                </h2>
            </md-toolbar>
            <md-card-content>
                <p>
                    Don't use h1 and headings in the cards. Use only headings.
                </p>
            </md-card-content>
        </md-card>
    </md-content>

    <div style="width: 800px";>
        <pre><code ng-prism class="language-markup">&lt;md-content class="md-padding">
    &lt;md-card>
        &lt;md-toolbar>
            &lt;h2 class="md-toolbar-tools">
                &lt;span>Heading</span>
            &lt;/h2>
        &lt;/md-toolbar>
        &lt;md-card-content>
            &lt;p>
                Don't use h1 and headings in the cards. Use only headings.
            &lt;/p>
        &lt;/md-card-content>
&lt;/md-content></code></pre>
    </div>
</div>