<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Awesome cards</h1>

    <div ng-controller="AppCtrl">
        <md-content class="md-padding" style="width: 400px;">
            <md-card>
                <img ng-src="{{imagePath}}" class="md-card-image">
                <md-card-content>
                    <h2 class="md-title">Cards</h2>
                    <p>
                        We use cards, because they are more easy to use than whiteframes.
                    </p>
                </md-card-content>
        </md-content>

        <md-content class="md-padding" style="width: 400px;">
            <md-card>
                <img ng-src="{{imagePath}}" class="md-card-image">
                <md-card-content>
                    <h2 class="md-title">Cards</h2>
                    <p>
                        We use cards, because they are more easy to use than whiteframes.
                    </p>
                </md-card-content>
        </md-content>
    </div>

    <div ng-controller="AppCtrl">
        <md-content class="md-padding" style="width: 400px;">
            <md-card>
                <img ng-src="{{imagePath}}" class="md-card-image">
                <md-card-content>
                    <h2 class="md-title">Cards</h2>
                    <p>
                        We use cards, because they are more easy to use than whiteframes.
                    </p>
                </md-card-content>
        </md-content>

        <md-content class="md-padding" style="width: 400px;">
            <md-card>
                <img ng-src="{{imagePath}}" class="md-card-image">
                <md-card-content>
                    <h2 class="md-title">Cards</h2>
                    <p>
                        We use cards, because they are more easy to use than whiteframes.
                    </p>
                </md-card-content>
        </md-content>
    </div>

</div>