<div ng-controller="AppCtrl" layout="column" layout-margin>
<h1>Checkbox</h1>

<div ng-controller="AppCtrl" class="md-padding">
    <legend>Checkbox</legend>
    <div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 1" ng-model="data.cb1" class="md-primary">
                Checkbox 1
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 2" ng-model="data.cb2" class="md-primary">
                Checkbox 2
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 3" ng-model="data.cb3" class="md-primary">
                Checkbox 3
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 4" ng-model="data.cb4" class="md-primary">
                Checkbox 4
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 5" ng-model="data.cb5" class="md-primary">
                Checkbox 5
            </md-checkbox>
        </div>
    </div>
    </fieldset>
</div>

    <div>
        <pre><code ng-prism class="language-markup">&lt;legend>Checkbox&lt;/legend>
    &lt;div layout="column" layout-wrap>
        &lt;div flex="50">
            &lt;md-checkbox md-no-ink aria-label="Checkbox 1" ng-model="data.cb1" class="md-primary">
                Checkbox 1
            &lt;/md-checkbox>
            &lt;/div>
        &lt;div flex="50">
            &lt;md-checkbox md-no-ink aria-label="Checkbox 2" ng-model="data.cb2" class="md-primary">
                Checkbox 2
            &lt;/md-checkbox>
        &lt;/div>
        &lt;div flex="50">
            &lt;md-checkbox md-no-ink aria-label="Checkbox 3" ng-model="data.cb3" class="md-primary">
                Checkbox 3
            &lt;/md-checkbox>
        &lt;/div>
        &lt;div flex="50">
            &lt;md-checkbox md-no-ink aria-label="Checkbox 4" ng-model="data.cb4" class="md-primary">
                Checkbox 4
            &lt;/md-checkbox>
        &lt;/div>
        &lt;div flex="50">
            &lt;md-checkbox md-no-ink aria-label="Checkbox 5" ng-model="data.cb5" class="md-primary">
                Checkbox 5
            &lt;/md-checkbox>
        &lt;/div>
    &lt;/div></code></pre>
    </div>

    <div flex="33"><a href="https://www.google.com/design/spec/components/selection-controls.html#">Link for Google Material Design</a></div>
</div>