<h1>Awesome checkbox</h1>

<div ng-controller="AppCtrl" class="md-padding">
    <!--<fieldset class="standard">-->
    <legend>Checkbox</legend>
    <div layout="column" layout-wrap>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 1" ng-model="data.cb1" class="md-primary">
                Checkbox 1
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 2" ng-model="data.cb2" class="md-primary">
                Checkbox 2
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 3" ng-model="data.cb3" class="md-primary">
                Checkbox 3
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 4" ng-model="data.cb4" class="md-primary">
                Checkbox 4
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox md-no-ink aria-label="Checkbox 5" ng-model="data.cb5" class="md-primary">
                Checkbox 5
            </md-checkbox>
        </div>
    </div>
    </fieldset>
</div>

<xmp>
    <div ng-controller="AppCtrl" class="md-padding">
        <!--<fieldset class="standard">-->
        <legend>Checkbox</legend>
        <div layout="column" layout-wrap>
            <div flex="50">
                <md-checkbox md-no-ink aria-label="Checkbox 1" ng-model="data.cb1" class="md-primary">
                    Checkbox 1
                </md-checkbox>
            </div>
            <div flex="50">
                <md-checkbox md-no-ink aria-label="Checkbox 2" ng-model="data.cb2" class="md-primary">
                    Checkbox 2
                </md-checkbox>
            </div>
            <div flex="50">
                <md-checkbox md-no-ink aria-label="Checkbox 3" ng-model="data.cb3" class="md-primary">
                    Checkbox 3
                </md-checkbox>
            </div>
            <div flex="50">
                <md-checkbox md-no-ink aria-label="Checkbox 4" ng-model="data.cb4" class="md-primary">
                    Checkbox 4
                </md-checkbox>
            </div>
            <div flex="50">
                <md-checkbox md-no-ink aria-label="Checkbox 5" ng-model="data.cb5" class="md-primary">
                    Checkbox 5
                </md-checkbox>
            </div>
        </div>
        </fieldset>
    </div>
</xmp>