<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <div layout="row" layout-margin>
        <div flex flex-order="1">
            <title>Colors</title>
        </div>
    </div>
</head>
<body>
    <div layout="row" layout-margin>
        <div flex flex-order="1">
            <h2>Cyan - Teal</h2>
            <a href="http://www.materialpalette.com/cyan/teal">Link to color palette</a>
            <h2>Color for icons: <bold>#B2EBF2</bold></h2>
        </div>
    </div>
</body>
</html>