<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Dropdown menu</h1>

    <i>A menu is a temporary sheet of paper that always overlaps the App Bar, <br>rather than behaving as an extension of the App Bar.</i>

    <p>You can search in this dropdown, by typing the letters you are searching for.</p>

    <div ng-controller="AppCtrl" layout="column" layout-align="left" style="min-height: 200px;">
    <form name="myForm">
        <md-input-container>
            <md-select name="myModel" placeholder="Pick" ng-model="myModel" required>
                <md-option value="1">One</md-option>
                <md-option value="2">Two</md-option>
                <md-option value="3">Three</md-option>
                <md-option value="4">Four</md-option>
                <md-option value="5">Five</md-option>
                <md-option value="6">Six</md-option>
                <md-option value="7">Seven</md-option>
                <md-option value="8">Eight</md-option>
                <md-option value="9">Nine</md-option>
                <md-option value="10">Ten</md-option>
            </md-select>
        </md-input-container>


        <div ng-controller="AppCtrl">
            <md-content>
                <section layout="row" layout-sm="column" layout-align="left">
                    <md-button md-no-ink class="md-raised"></i>Fortryd</md-button>
                    <md-button md-no-ink class="md-raised"></i>Gem</md-button>
                </section>
            </md-content>
        </div>
    </form>
    </div>

    <p>Do not use icon and text for a button. Just use text.</p>

<div style="width: 830px;">
    <pre><code ng-prism class="language-markup">&lt;form name="myForm">
        &lt;md-input-container>
             &lt;md-select name="myModel" placeholder="Pick" ng-model="myModel" required>
                 &lt;md-option value="1">One</md-option>
                     &lt;md-option value="2">Two</md-option>
                     &lt;md-option value="3">Three</md-option>
                     &lt;md-option value="4">Four</md-option>
                     &lt;md-option value="5">Five</md-option>
                 &lt;/md-select>
        &lt;/md-input-container></code></pre>
</div>
    </div>