<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">

    <h1>Dynamic themes with material design</h1>
    <p>With Angular Material Design it's possible to configure multiple dynamic themes</p>

    <h3>Standard Palettes</h3>
    <p>Out of the box, angular material is shipped with these standard palettes:</p>
    <ul>
        <li>Red</li>
        <li>Pink</li>
        <li>Purple</li>
        <li>Deep-purple</li>
        <li>Indigo</li>
        <li>Blue</li>
        <li>Light-blue</li>
        <li>Cyan</li>
        <li>Teal</li>
        <li>Green</li>
        <li>Light-green</li>
        <li>Lime</li>
        <li>Yellow</li>
        <li>Amber</li>
        <li>Orange</li>
        <li>Deep-orange</li>
        <li>Brown</li>
        <li>Grey</li>
        <li>Blue-grey</li>
    </ul>
</div>