<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">

    <h1>Dynamic themes with material design</h1>
    <p>With Angular Material Design it's possible to configure multiple dynamic themes</p>

    <h3>Standard Palettes</h3>
    <p>Out of the box, angular material is shipped with these standard palettes</p>
    <ul>
        <li>red</li>
        <li>pink</li>
        <li>purple</li>
        <li>deep-purple</li>
        <li>indigo</li>
        <li>blue</li>
        <li>light-blue</li>
        <li>cyan</li>
        <li>teal</li>
        <li>green</li>
        <li>light-green</li>
        <li>lime</li>
        <li>yellow</li>
        <li>amber</li>
        <li>orange</li>
        <li>deep-orange</li>
        <li>brown</li>
        <li>grey</li>
        <li>blue-grey</li>
    </ul>
</div>