<div ng-controller="AppCtrl" layout="column" layout-margin style="padding: 25px;">
    <h1>Getting started with Material Design</h1>

    <p>The purpose of this design guide is to get the same look and feel across the TopPro application.</p>
    <p>The design guide is based upon <a href="https://material.angularjs.org/latest/getting-started">Angular Material</a>.</p>

    <h2>Installation</h2>
    <p>Install Angular Material by executing the following command in a terminal.</p>

    <div>
        <pre><code ng-prism class="language-markup">bower install angular-material --save</code></pre>
    </div>

    <h2>Dependencies</h2>

    <p>The following needs to be added to the <b>index.html</b> file.</p>

    <div>
        <pre>
            <code ng-prism class="language-markup">
&lt;script src="bower_components/angular/angular.js">&lt;/script>
&lt;script src="bower_components/angular-animate/angular-animate.js">&lt;/script>
&lt;script src="bower_components/angular-aria/angular-aria.js">&lt;/script>
&lt;script src="bower_components/angular-material/angular-material.js">&lt;/script></code></pre>
    </div>

    <div>
        <pre>
            <code ng-prism class="language-markup">
&lt;link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
&lt;link type="text/css" rel="stylesheet" href="bower_components/roboto/roboto.css">
&lt;link href="bower_components/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css"/></code></pre>
    </div>
</div>
