<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">

    <h1>Icons</h1>

    <h3 class="icon-title">Add</h3>
    <md-subheader class="subheader">Adding new client.</md-subheader>
    <i class="mdi mdi-account-multiple" style="font-size: 24px;"></i>
	<div style="width: 350px;">
		<pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-account">&lt;/i></code></pre>
	</div>

    <h3 class="icon-title">Add client</h3>
    <md-subheader class="subheader">Adding a client to an existing client.</md-subheader>
    <i class="mdi mdi-account-plus" style="font-size: 24px;"></i>
    <div style="width: 380px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-account-plus">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Address</h3>
    <md-subheader class="md-subheader">The clients address.</md-subheader>
    <i class="mdi mdi-home" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-home">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Chat</h3>
    <md-subheader class="md-subheader">Use this for the chatfunktion where claimhandelers can write together.</md-subheader>
    <i class="mdi mdi-message" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-message">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Checkbox</h3>
    <md-subheader class="md-subheader">For information that needs to be marked.</md-subheader>
    <i class="mdi mdi-checkbox-blank-outline" style="font-size: 24px;"></i>
    <div style="width: 450px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-checkbox-blank-outline">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Choose all</h3>
    <md-subheader class="md-subheader">Example: alot of claims needs to be moved. The choose all function will save alot of time.</md-subheader>
    <i class="mdi mdi-checkbox-multiple-marked-outline" style="font-size: 24px;"></i>
    <div style="width: 550px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-checkbox-multiple-marked-outline">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">City</h3>
    <md-subheader class="md-subheader">The city the client lives in.</md-subheader>
    <i class="mdi mdi-map-marker" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-map-marker">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Claimnumber</h3>
    <i class="mdi mdi-folder-account" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-folder-account">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Client history</h3>
    <i class="mdi mdi-book-open" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-book-open">&lt;/i></code></pre>
    </div>


    <h3 class="icon-title">Client name</h3>
    <i class="mdi mdi-account" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-account">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Close Window</h3>
    <i class="mdi mdi-window-close" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-window-close">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Comment</h3>
    <md-subheader class="md-subheader">For the claimhandler to add a comment to a case.</md-subheader>
    <i class="mdi mdi-comment-plus-outline" style="font-size: 24px;"></i>
    <div style="width: 450px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-comment-plus-outline">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Copy</h3>
    <md-subheader class="md-subheader">Copy a document or some text.</md-subheader>
    <i class="mdi mdi-content-copy" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-content-copy">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Database</h3>
    <i class="mdi mdi-database" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-database">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Date</h3>
    <md-subheader class="md-subheader">Add this one when the calandarfunction is used.</md-subheader>
    <i class="mdi mdi-calendar" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-calendar">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Delete</h3>
    <i class="mdi mdi-delete" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-delete">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Download</h3>
    <md-subheader class="md-subheader">Download document or whole claim.</md-subheader>
    <i class="mdi mdi-download" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-download">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">E-mail</h3>
    <md-subheader class="md-subheader">Client e-mail.</md-subheader>
    <i class="mdi mdi-at"></i>
    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-at">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Edit</h3>
    <md-subheader class="md-subheader">Edit a document, a claim or just a small piece of text.</md-subheader>
    <i class="mdi mdi-pencil" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-pencil">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Firm</h3>
    <md-subheader class="md-subheader">For 'erhverv'.</md-subheader>
    <i class="mdi mdi-home-modern"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-home-modern">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Given to (tildelt)</h3>
    <md-subheader class="md-subheader">When a claim needs another claimhandler.</md-subheader>
    <i class="mdi mdi-account-switch" style="font-size: 24px;"></i>
    <div style="width: 450px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-account-switch">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Go forward</h3>
    <i class="mdi mdi-arrow-right" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-arrow-right">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Go back</h3>
    <i class="mdi mdi-arrow-left" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-arrow-left">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Help</h3>
    <md-subheader class="md-subheader">If the claimhandler needs help in the system.</md-subheader>
    <i class="mdi mdi-help" style="font-size: 24px;"></i>
    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-help">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Login</h3>
    <i class="mdi mdi-login" style="font-size: 24px;"></i>
    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-login">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Logout</h3>
    <i class="mdi mdi-logout" style="font-size: 24px;"></i>
    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-logout">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Minimize</h3>
    <md-subheader class="md-subheader">Minimize the window.</md-subheader>
    <i class="mdi mdi-window-minimize" style="font-size: 24px;"></i>
    <div style="width: 450px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-window-minimize">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">More</h3>
    <md-subheader class="md-subheader">For more options. Use in toolbars and place to the right.</md-subheader>
    <i class="mdi mdi-dots-vertical" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-dots-vertical">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Notes</h3>
    <md-subheader class="md-subheader">If the claimhandler needs to write a text longer than a comment.</md-subheader>
    <i class="mdi mdi-pin" style="font-size: 24px;"></i>
    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-pin">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Paperclip</h3>
    <md-subheader class="md-subheader">If a document needs to be attached.</md-subheader>
    <i class="mdi mdi-paperclip" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-paperclip">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Pay</h3>
    <i class="mdi mdi-credit-card" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-cerdit-card">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Phonenumber</h3>
    <i class="mdi mdi-phone" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-phone">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Postalcode</h3>
    <i class="mdi mdi-city"></i>
    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-city">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Print</h3>
    <md-subheader class="md-subheader">If the claim or a document needs to be printed.</md-subheader>
    <i class="mdi mdi-printer" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-printer">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Save</h3>
    <md-subheader class="md-subheader">Save claim, document, new client...</md-subheader>
    <i class="mdi mdi-content-save" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-content-save">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Search</h3>
    <i class="mdi mdi-magnify" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-magnify">&lt;/i></code></pre>
    </div>

    <h3 class="icon-titlen">Send</h3>
    <i class="mdi mdi-email-outline" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-email-outline">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Settings</h3>
    <md-subheader class="md-subheader">Place next to help and more in toolbars.</md-subheader>
    <i class="mdi mdi-settings" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-settings">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Share</h3>
    <md-subheader class="md-subheader">If a claim or document needs to be shared to another claimhandler.</md-subheader>
    <i class="mdi mdi-share-variant" style="font-size: 24px;"></i>
    <div style="width: 400px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-share-variant">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Task</h3>
    <i class="mdi mdi-archive" style="font-size: 24px;"></i>
    <div style="width: 350px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-archive">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">To the top</h3>
    <md-subheader class="md-subheader">To the top of the page.</md-subheader>
    <i class="mdi mdi-debug-step-out" style="font-size: 24px;"></i>
    <div style="width: 450px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-debug-step-out">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Undo</h3>
    <i class="mdi mdi-undo" style="font-size: 24px;"></i>
    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-undo">&lt;/i></code></pre>
    </div>

    <h3 class="icon-title">Upload</h3>
    <i class="mdi mdi-upload" style="font-size: 24px;"></i>
    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;i class="mdi mdi-upload">&lt;/i></code></pre>
    </div>

</div>