<h1>Awesome icons</h1>

<!--div flex="20"></div>
<div flex="40">

    <br/><br/>

    <div layout="column" layout-align="left">
        <md-icon md-svg-src="icons/arrow-left.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/arrow-right.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/delete.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/floppy.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/printer.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/email-outline.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/share-variant.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/pencilicon.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/plus.svg" class="s100"></md-icon>
        <md-icon md-svg-src="icons/content-copy.svg" class="s100"></md-icon>
    </div>

</div>
<div flex="20"></div-->

<md-content>
    <section layout="row" layout-sm="column" layout-align="left">
        <md-button><svg style="width:30px;height:30px" viewBox="0 0 24 24">
            <path fill="#B2EBF2" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
        </svg></md-button>
    </section>
</md-content>