<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Awesome input fields</h1>

    <p>Use inputfields for every time the claimhandler needs to type information.</p>
    <p>Place the icon where it makes sense. If it's going to be on line with the inputfield, please place it on the left.</p>
    <p>Don't use tooltips for inputfields. Text, icon and tooltip is to much together.</p>
    <p>If a date needs to be noted, please look at the bottom of this page for calendarfunction.</p>
    <div>
        <md-content layout-padding>
            <form name="userForm">
                <div layout layout-sm="column">
                    <md-input-container style="width:80%">
                        <label>Firma</label>
                        <i class="mdi mdi-home-modern"></i>
                        <input ng-model="user.company">
                    </md-input-container>
                </div>

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Kontaktperson</label>
                        <i class="mdi mdi-account"></i>
                        <input ng-model="user.name">
                    </md-input-container>
                </div>

                <md-input-container flex>
                    <label>Adresse</label>
                    <i class="mdi mdi-home"></i>
                    <input ng-model="user.address">
                </md-input-container>

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>By</label>
                        <i class="mdi mdi-map-marker"></i>
                        <input ng-model="user.city">
                    </md-input-container>

                    <md-input-container flex>
                        <label>Postnummer</label>
                        <i class="mdi mdi-city"></i>
                        <input ng-model="user.postalCode">
                    </md-input-container>
                </div>

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Telefon</label>
                        <i class="mdi mdi-phone"></i>
                        <input ng-model="user.phone">
                    </md-input-container>

                    <md-input-container flex>
                        <label>E-mail</label>
                        <i class="mdi mdi-at"></i>
                        <input ng-model="user.mail">
                    </md-input-container>
                </div>

                <md-input-container flex>
                    <label>Dato for skade</label>
                    <i class="mdi mdi-calendar"></i>
                    <input type="date" ng-model="user.submissionDate">
                </md-input-container>
                <md-input-container flex>
                    <label>Beskrivelse af skade</label>
                    <i class="mdi mdi-comment-plus-outline"></i>
                    <textarea ng-model="user.biography" columns="1"></textarea>
                </md-input-container>
            </form>
        </md-content>
    </div>

    <h3>Input field: Use this for a normal input field.</h3>

    <div style="width: 410px;">
        <pre><code ng-prism class="language-markup">&lt;md-input-container flex>
            &lt;label>Kontaktperson&lt;/label>
            &lt;i class="mdi mdi-account">&lt;/i>
            &lt;input ng-model="user.name">
            &lt;/md-input-container></code></pre>
    </div>

    <h3>Date: Use this for, when dates needs to be noted. It has calendar.</h3>

    <div style="width: 600px;">
        <pre><code ng-prism class="language-markup">&lt;md-input-container flex>
            &lt;label>Dato for skade&lt;/label>
            &lt;i class="mdi mdi-calendar">&lt;/i>
            &lt;input type="date" ng-model="user.submissionDate">
            &lt;/md-input-container></code></pre>
    </div>

    <h4>To change the length of the field, you can delete "flex" after the container.</h4>
</div>