<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Links</h1>
    <br/>
    <div>
        <p>Link to Angular Material Design. Here you can find preambles for every function in MD.</p>
        <div flex="33"><a href="https://material.angularjs.org/latest/#/">Angular Material Design</a></div>
        <p>Link to the overview of all material design icons.</p>
        <div flex="33"><a href="http://materialdesignicons.com/">Icons</a></div>
        <p>Link to the chosen colors in the material design palette.</p>
        <div flex="33"><a href="http://www.materialpalette.com/">Color palette</a></div>
        <p>Link to Material Design.</p>
        <div flex="33"><a href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a></div>
    </div>

    <h4>How to insert link:</h4>
    <div style="width: 710px;">
        <pre><code ng-prism class="language-markup">&lt;a href="https://material.angularjs.org/latest/#/">Material Design&lt;/a>&lt;/div></code></pre>
    </div>
</div>