<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Awesome links</h1>
    <br/>
    <div layout="column" layout-wrap>
        <p>Direct link to Angular Material Design. Here you can find preambles for every function in MD.</p>
        <div flex="33"><a href="https://material.angularjs.org/latest/#/">Material Design</a></div>
        <p>Direct link to the overview of all material design icons.</p>
        <div flex="33"><a href="http://materialdesignicons.com/">Icons</a></div>
        <p>Direct link to the chosen colors in the material design palette.</p>
        <div flex="33"><a href="http://www.materialpalette.com/">Color palette</a></div>
    </div>

    <h4>How to insert link:</h4>
    <div style="width: 710px;">
        <pre><code ng-prism class="language-markup">&lt;a href="https://material.angularjs.org/latest/#/">Material Design&lt;/a>&lt;/div></code></pre>
    </div>
</div>