<div ng-controller="Appctrl" layout="column" layout-margin style="padding: 25px;">
    <h1>Output fields</h1>

    <p>Use this whiteframe for highlight of the searchresult.</p>

    <div style="width: 200px;">
        <md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
            <span>Whiteframe as output field</span>
        </md-whiteframe>
    </div>

    <br>

    <p>Example:</p>
    <div style="width: 100px;">
        <md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
            <span>Found: 12</span>
        </md-whiteframe>
    </div>

    <br>

    <div style="width: 300px;">
        <pre><code ng-prism="" class="language-markup">&lt;div style="width: 100px;">
            &lt;md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
                &lt;span>Whiteframe as output field&lt;/span>
            &lt;/md-whiteframe>
            &lt;/div></code></pre>
    </div>
</div>