<div ng-controller="Appctrl" layout="column" layout-margin style="padding: 25px;">
    <h1>Awesome output fields</h1>

    <p>Use this when.....</p>

    <md-content layout-padding ng-app="task">
        <md-content>
            <section>
                <md-chips>
                    <md-chip><strong>Hockey</strong></md-chip>
                </md-chips>
            </section>
        </md-content>

        <md-content>
            <section>
                <md-chips>
                    <md-chip><strong>Found: 12</strong></md-chip>
                </md-chips>
            </section>
        </md-content>
    </md-content>
</div>