<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Progressline as circular</h1>

    <p>Use when load. Place center.</p>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>

    <br>
    <div style="width: 900px;">
        <pre><code ng-prism class="language-markup">&lt;div layout="row" layout-sm="column" layout-align="space-around">
    &lt;md-progress-circular class="md-hue-2" md-mode="indeterminate">&lt;/md-progress-circular>
&lt;/div></code></pre>
    </div>
</div>