<!--<div ng-controller="AppCtrl" layout="column" layout-margin style="...">-->
    <!--<div>-->
        <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
    <!--</div>-->
<!--</div>-->

<!--<xmp>-->
    <!--<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:15px;">-->
        <!--<div>-->
            <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
        <!--</div>-->
    <!--</div>-->
<!--</xmp>-->


<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Awesome progressline as circular</h1>
    <p>Use when load. Place center.</p>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>