<md-content ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Toast</h1>

    <i>Toasts are primarily used for system messaging. <br>Toasts can't contain actions and can't be swiped off screen.</i>
    <i>They should contain a single line of text directly related to the operation performed. They can't contain icons.</i>

    <br>
    <div layout="row" layout-align="left">
        <md-button md-no-ink class="md-raised" ng-click="openToast()">Send</md-button>
    </div>


    <h3>For js:</h3>
    <div style="width: 750px;">
        <pre><code ng-prism class="mdi-language-javascript">app.controller('AppCtrl', ['$scope', '$mdToast', function($scope, $mdToast){
    $scope.openToast = function($event) {
        $mdToast.show($mdToast.simple().content('Message sent'));
};</code></pre>
    </div>

    <h3>For MD:</h3>

    <div style="width: 850px;">
        <pre><code ng-prism class="mdi-language-markup">&lt;div layout="row" layout-align="left">
    &lt;md-button md-no-ink class="md-raised" ng-click="openToast()">Send&lt;/md-button>
&lt;/div></code></pre>
    </div>

    <div flex="33"><a href="https://www.google.com/design/spec/components/snackbars-toasts.html">Link for Google Material Design</a></div>
</md-content>