<md-content ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Toast</h1>

    <i>Toasts are primarily used for system messaging. <br>Toasts can't contain actions and can't be swiped off screen.</i>
    <i>They should contain a single line of text directly related to the operation performed. They can't contain icons.</i>

    <br>
    <div layout="row" layout-align="left">
        <md-button md-no-ink class="md-raised" ng-click="openToast()">Send</md-button>
    </div>


    <h3>For js:</h3>
    <div style="width: 1150px;">
        <pre><code ng-prism class="mdi-language-markup">app.controller('AppCtrl', ['$scope', '$mdSidenav', '$mdToast', '$location', function($scope, $mdSidenav, $mdToast, $location){
            $scope.toggleSidenav = function(menuId) {
            $mdSidenav(menuId).toggle();
            };

            $scope.openToast = function($event) {
            $mdToast.show($mdToast.simple().content('Message sent'));
            };

            $scope.toggleNavigation = function(siteId) {
            $location.path('/' + siteId);
            };</code></pre>
    </div>

    <h3>For MD:</h3>

    <div style="width: 850px;">
        <pre><code ng-prism class="mdi-language-markup">&lt;div layout="row" layout-align="left">
            &lt;md-button md-no-ink class="md-raised" ng-click="openToast()">Send&lt;/md-button>
        &lt;/div></code></pre>
    </div>
</md-content>