<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Tooltips</h1>

    <div>
        <p>Use tooltip, to buttons with icons without text.</p>
    </div>
    <div ng-controller="AppCtrl">

        <md-button class="md-icon-button md-primary" aria-label="Phone">
            <i class="mdi mdi-phone"></i>
            <md-tooltip>
                Telefonnummer
            </md-tooltip>
        </md-button>

        <br>
        <div style="width: 185px;">
            <pre><code ng-prism class="language-markup">
&lt;md-tooltip>
    Telefonnummer
&lt;/md-tooltip></code></pre>
        </div>
    </div>

    <div flex="33"><a href="https://www.google.com/design/spec/components/tooltips.html">Link for Google Material Design</a></div>
</div>