<md-content ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Toolbar with buttons</h1>

    <p>Toolbar with 3 buttons:</p>
    <p>Place the text in the middle of the toolbar, like the example.</p>
    <div ng-controller="AppCtrl">
        <md-content>
            <md-toolbar class="md-tall md-toolbar-tools">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Toolbar with Icon Buttons</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button">
                        <i class="mdi mdi-help" style="font-size: 20px;"></i>
                    </md-button>

                    <md-button class="md-icon-button">
                        <i class="mdi mdi-dots-vertical" style="font-size: 20px;"></i>
                    </md-button>

                    <md-button class="md-icon-button">
                        <i class="mdi mdi-settings" style="font-size: 20px;"></i>
                    </md-button>
                </div>
            </md-toolbar>
        </md-content>
    </div>

    <div style="width: 850px;">
        <pre><code ng-prism class="language-markup">&lt;div ng-controller="AppCtrl">
            &lt;md-content>
                &lt;md-toolbar class="md-tall md-toolbar-tools">
                    &lt;div class="md-toolbar-tools">
                        &lt;h2>
                            &lt;span>Toolbar with Icon Buttons&lt;/span>
                        &lt;/h2>
                        &lt;span flex>&lt;/span>

                        &lt;md-button class="md-icon-button">
                            &lt;i class="mdi mdi-help">&lt;/i>
                        &lt;/md-button>

                        &lt;md-button class="md-icon-button">
                            &lt;i class="mdi mdi-dots-vertical">&lt;/i>
                        &lt;/md-button>

                        &lt;md-button class="md-icon-button">
                            &lt;i class="mdi mdi-settings">&lt;/i>
                        &lt;/md-button>

                    &lt;/div>
                &lt;/md-toolbar>
            &lt;/md-content>
        &lt;/div></code></pre>

</div>