<div ng-controller="AppCtrl" layout="column" layout-margin style="padding:25px;">
    <h1>Typography</h1>

    <h1>h1:</h1>

    <p>Use for headings.</p>

    <div style="width: 120px;">
        <pre><code ng-prism class="language-markup">&lt;h1>h1&lt;h1></code></pre>
    </div>

    <h2>h2:</h2>

    <p>Use for underheadings.</p>

    <div style="width: 120px;">
        <pre><code ng-prism class="language-markup">&lt;h2>h2&lt;h2></code></pre>
    </div>

    <h3>h3:</h3>

    <div style="width: 120px;">
        <pre><code ng-prism class="language-markup">&lt;h3>h3&lt;h3></code></pre>
    </div>

    <h4>h4:</h4>

    <div style="width: 120px;">
        <pre><code ng-prism class="language-markup">&lt;h4>h4&lt;h4></code></pre>
    </div>

    <h5>h5:</h5>

    <div style="width: 120px;">
        <pre><code ng-prism class="language-markup">&lt;h5>h5&lt;h5></code></pre>
    </div>

    <p>p:</p>

    <p>Use for normal text.</p>

    <div style="width: 120px;">
        <pre><code ng-prism class="language-markup">&lt;p>p&lt;p></code></pre>
    </div>
</div>