<div flex="20"></div>
<div flex="40">

    <br/><br/>

    <div layout="row" layout-align="center center">

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-cursor-pointer" style="font-size: 45px;"></i>
            <md-tooltip>
                Buttons
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-checkbox-marked-outline" style="font-size: 45px;"></i>
            <md-tooltip>
                Checkbox
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-palette" style="font-size: 45px;"></i>
            <md-tooltip>
                Colors
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-blinds" style="font-size: 45px;"></i>
            <md-tooltip>
                Dropdown
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-emoticon" style="font-size: 45px;"></i>
            <md-tooltip>
                Icons
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-calendar-text" style="font-size: 45px;"></i>
            <md-tooltip>
                Input Fields
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-google-chrome" style="font-size: 45px;"></i>
            <md-tooltip>
                Links
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-speedometer" style="font-size: 45px;"></i>
            <md-tooltip>
                Progress
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-apps" style="font-size: 45px;"></i>
            <md-tooltip>
                Toolbar
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary md-hue-5">
            <i class="mdi mdi-tooltip-outline" style="font-size: 45px;"></i>
            <md-tooltip>
                Tooltip
            </md-tooltip>
        </md-button>
    </div>

    <br/>
    <!--<div layout="row" layout-align="center center">-->
    <!--<md-icon md-svg-src="icons/statistics.svg" class="s100" style="width:80px;height:80px"></md-icon>-->
    <!--<md-icon md-svg-src="icons/pencilcircle.svg" class="s100" style="width:80px;height:80px"></md-icon>-->
    <!--<md-icon md-svg-src="icons/monitor.svg" class="s100" style="width:80px;height:80px"></md-icon>-->
    <!--<md-icon md-svg-src="icons/light.svg" class="s100" style="width:80px;height:80px"></md-icon>-->
    <!--<md-icon md-svg-src="icons/clock.svg" class="s100" style="width:80px;height:80px"></md-icon>-->
    <!--<md-icon md-svg-src="icons/calendar.svg" class="s100" style="width:80px;height:80px"></md-icon>-->
    <!--<md-icon md-svg-src="icons/bookshell.svg" class="s100" style="width:80px;height:80px"></md-icon>-->
    <!--</div>-->

    <div layout="row" layout-align="center center">
        <h1 class="md-display-4">TopGuide</h1>
    </div>

    <div layout="row" layout-align="center center">
        <md-button class="md-raised" ng-click="openToast()">Open a fresh roast toast</md-button>
    </div>


</div>
<div flex="20"></div>
    