<div flex="20"></div>
<div flex="40">

    <br/><br/>

    <div layout="row" layout-align="center center">
        <md-icon md-svg-src="icons/statistics.svg" class="s100" style="width:80px;height:80px"></md-icon>
        <md-icon md-svg-src="icons/pencilcircle.svg" class="s100" style="width:80px;height:80px"></md-icon>
        <md-icon md-svg-src="icons/monitor.svg" class="s100" style="width:80px;height:80px"></md-icon>
        <md-icon md-svg-src="icons/light.svg" class="s100" style="width:80px;height:80px"></md-icon>
        <md-icon md-svg-src="icons/clock.svg" class="s100" style="width:80px;height:80px"></md-icon>
        <md-icon md-svg-src="icons/calendar.svg" class="s100" style="width:80px;height:80px"></md-icon>
        <md-icon md-svg-src="icons/bookshell.svg" class="s100" style="width:80px;height:80px"></md-icon>
    </div>

    <div layout="row" layout-align="center center">
        <h1 class="md-display-4">TopGuide</h1>
    </div>

    <div layout="row" layout-align="center center">
        <md-button class="md-raised" ng-click="openToast()">Open a fresh roast toast</md-button>
    </div>


</div>
<div flex="20"></div>
    